body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: #f5f5f5;
  color: #4d4d4d;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/
/* GLOBAL STYLES */
.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}
.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}
.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}
.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
}
.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}
.btn__filter {
  border-color: lightgrey;
}
.btn__primary {
  color: #fff;
  background-color: #000;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
[class*="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack-small > * + * {
  margin-top: 1.25rem;
}
.stack-large > * + * {
  margin-top: 2.5rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 2.8rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}
/* END GLOBAL STYLES */
.todoapp {
  background: #fff;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
.filters {
  width: 100%;
  margin: unset auto;
}
/* Todo item styles */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo > * {
  flex: 0 0 100%;
}
.todo-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
.todo-text:focus {
  box-shadow: inset 0 0 0 2px;
}
/* CHECKBOX STYLES */
.c-cb {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 44px;
  padding-left: 40px;
  clear: left;
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before {
  content: "";
  position: absolute;
  border: 2px solid currentColor;
  background: transparent;
}
.c-cb > input[type="checkbox"]:focus + label::before {
  border-width: 4px;
  outline: 3px dashed #228bec;
}
.c-cb > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

/*-----------------------------------------------------------*/

/* Header Button */
.nav-btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
}

.btn-pink {
  background: #FF1D6C;
  border: 1px solid #FF1D6C;
}

.btn-yellow {
  background: #FFB72C;
  border: 1px solid #FFB72C;
}

.btn-green {
  background: #007350;
  border: 1px solid #007350;
}

.btn-icon-triangle{
  margin:0px auto;
  width: 0px;
  height: 0px;
  border-width: 0 5px 8.5px 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.btn-icon-circle{
  margin:0px auto;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: #ffffff;
}

.btn-icon-square{
  margin:0px auto;
  height: 9px;
  width: 9px;
  background-color: #ffffff;
}

.nav-text{
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  margin-left: 8px;
}

.text-pink{
  color: #FF1D6C;
}

.text-yellow{
  color: #FFB72C;
}

.text-green{
  color: #007350;
}

html, body, #root{
  position: absolute;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.header{
  display: block;
  width: 100vw;
  height: 104px;
  position: sticky;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  z-index: 100;
}

.logo{
  display: inline-block;
  position: relative;
  left:108px;
  top:20px;
}

.nav-btn-group{
  display: flex;
  position: relative;
  justify-content: flex-end;
  bottom: 20px;
  margin-right: 108px;
}

/* 首圖 */

.home-card{
  position: relative;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  z-index: 3;
}

.home-card .bg{
  position: relative;
  max-width: 100%;
  display: table-row;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  z-index: 2;
}
.home-card .title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -370px;
  display: block;
  width: 40%;
  z-index: 2;
}

.home-card .subtitle{
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* H4_TC */
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  top: -370px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  z-index: 5;
}

.shadow{
  position: relative;
  top: -80px;
  width: 100%;
  height: 60px;
  background: #0D0B0C;
  opacity: 0.3;
  /* shadow_blur */
  filter: blur(11px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 0; 
}

.shadow-left{
  left: 0px;
  transform: rotate(-6deg);
}

.shadow-right{
  right: 0px;
  top: -140px;
  transform: rotate(6deg);
}

.inline-block{
  display: inline-block;
}

.input{
  padding: 0px 12px 0px 24px;
  position: relative;
  width: 90%;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border: none; 
  border-radius: 6px;
}

.search-section{
  width: 100VW;
  padding-left: 31%;
  padding-right: 29%;
  display: block;
  position: relative;
  top: -355px;
  z-index: 5;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.search-icon{
  position: relative;
  top: 22px;
  margin-left: 6px;
}

select{
  width: 44.5%;
  height: 40px;
  border: none; 
  border-radius: 6px;
  background: no-repeat right #ffffff;
  align-items: flex-start;
  padding: 8px 16px 0px;
  margin-top: 8px;
}

.country{
  margin-left: 6px;
}

.city-card{

}

.city-section{
  position: relative;
  display: block;
}

.container{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}